body {
	background-image: url(https://cdn.pixabay.com/photo/2017/06/05/07/58/butterfly-2373175_1280.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
}


.container{
	width: 200px;
	height: 200px;
	margin: 20px;
	background: #FFFF00;
	border-radius: 30px 130px ;
}



.container1{
	height: 80px;
	width: 150px;
	background: #555;
	margin: 30px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	position: relative;
}


.container1:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-right: 10px solid #555;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	left: -10px;
	bottom: 30px;
}


.koll{
	height: 60px;
	width: 120px;
	background: #888;
	border-radius: 10px;
	margin: 30px;
	position: relative;
}


.koll:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-top: 10px solid #888;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	bottom: -10px;
	right: 50px;
}

.imges {
	height: 900px;
	width: 900px;
	border: 2px solid #999;
	margin: 20px;
	
}






